<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Login Page">
    <classes><class name="TestCases.LoginPageTest">
        <methods>
            <include name="Loginpage"/>
            <include name="Loginpage2"/>
            <include name="Loginpage3"/>
        </methods>
    </class>
    </classes>
</test>
</suite>